
html {
  overflow-x: hidden;
}

.maintxt {
  position: relative;
}

.maintxt>img,
.overlay-text {
  position: absolute;
}
.carousel{
  display: none;
}
.topbutton {
  z-index: 10000;
  text-decoration: none;
  width: 100px;
  border: 2px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.workerlisth1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.workerlistp1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 21px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;

}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;

}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(7, 3, 3);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.containerheader {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: flex;
}

.header__menu {}

.fix-background {
  position: relative;
}

.fix-background-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.daatrash {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(22, 21, 21);
}



@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
    min-width: 360px;
  }

  .search-form_field {
    margin-bottom: 25px;
  }

  .topbutton {
    display: none;
    }
  .feature {
    grid-column: span 6;
  }

  .feature {
    grid-column: span 1;
  }

  .searchmaster {
    display: none;
  }

  .texted2 {
    display: none;

  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    background-color: rgb(5, 3, 3);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }

  .header__body {
    height: 80px;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: rgb(12, 1, 1);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7fff00;
    padding: 100px 10px 0px 10px;

  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .workerlisth1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {
.blogspot{
  display: none;
}


  li {
    text-align: left;

  }

  button {
    width: calc(100%);
    height: 60px;
  }

  .cringe-btn {
    width: calc(100% - 20px);
  }

  .cringe {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

  }

  .workerlisth1 {
    font-weight: 400;
    font-size: 24px !important;
    line-height: 28px !important;
    margin-top: 40px;
  }

  .form-control {
    height: 60px;
    margin-bottom: 10px;

    /* width: calc(100% - 20px); */
  }

  .card {
    overflow-x: hidden;
    align-items: center;
  }

  .card-img {
    height: 360px;
    width: 600px;
  }

  .navbar-form {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .link-secondary {
    font-size: 18px;
  }

  .form-group {
    padding: 0;
    margin: 0;
  }

  .py-5 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .card-img-overlay {
    width: 100%;
  }

  .daatrash {
    width: 100% p !important;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(22, 21, 21);
  }
}

























/* karusel */


@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

/* .carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
} */

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.karusel-img {
  height: 350px;
  width: 100%;
}

.carousel__snapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

.spec-text {
  margin-top: -200px;
}
