html {
  overflow-x: hidden;
}

.maintxt {
  position: relative;
}

.maintxt>img,
.overlay-text {
  position: absolute;
}

.topbutton {
  z-index: 10000;
  text-decoration: none;
  width: 100px;
  border: 2px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.workerlisth1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.workerlistp1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 21px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;

}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;

}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(7, 3, 3);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.containerheader {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: flex;
}

.header__menu {}

.fix-background {
  position: relative;
}

.fix-background-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cardy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(22, 21, 21);
}



@media (max-width: 414px) {

  html,
  body {
    overflow-x: hidden;
    min-width: 360px;
  }

  .search-form_field {
    margin-bottom: 25px;
  }

  .topbutton {
    display: none;
  }

  .feature {
    grid-column: span 6;
  }

  .feature {
    grid-column: span 1;
  }

  .searchmaster {
    display: none;
  }

  .texted2 {
    display: none;

  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    background-color: rgb(5, 3, 3);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }

  .header__body {
    height: 80px;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: rgb(12, 1, 1);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7fff00;
    padding: 100px 10px 0px 10px;

  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .workerlisth1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .blogspot {
    display: none;
  }


  li {
    text-align: left;

  }

  button {
    width: calc(100%);
    height: 60px;
  }

  .specials-btn {
    width: calc(100% - 20px);
  }

  .pointss {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

  }


  .form-control {
    height: 60px;
    margin-bottom: 10px;

    /* width: calc(100% - 20px); */
  }

  .card {
    overflow-x: hidden;
    align-items: center;
  }

  .card-img {
    height: 360px;
    width: 600px;
  }

  .navbar-form {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .link-secondary {
    font-size: 18px;
  }

  .form-group {
    padding: 0;
    margin: 0;
  }

  .py-5 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .card-img-overlay {
    width: 100%;
  }


}